<ion-view view-title="Chats" ng-init="getAllSongs()">
  <ion-content>
    <!--<div class="tabs" style="top:0px;">
      <a class="tab-item">
        Home
      </a>
      <a class="tab-item">
        Favorites
      </a>
      <a class="tab-item">
        Settings
      </a>
    </div>-->
  <div ng-repeat="song in songs">
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{song.image}}">
        <h2>{{song.songName}}</h2>
        <p>{{song.genre}}</p>
        <p><strong>{{song.voteCount}} vote<span ng-if="song.voteCount !== 1">s</span></strong></p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="upvote(song.songID)">
          <i class="icon ion-ios-arrow-up"></i> Upvote
        </a>
        <a class="tab-item" ng-click="downvote(song.songID)">
          <i class="icon ion-ios-arrow-down"></i> Downvote
        </a>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
