<ion-view view-title="Account" ng-init="getAllSongsManip()">
  <ion-content>

    <ion-list>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{nowPlaying.image}}">
        <h5><i class="ion-ios-play"></i> <strong>Now Playing: </strong></h5>
        <h4>{{nowPlaying.songName}}</h4>
        <p>{{nowPlaying.genre}}</p>
      </div>
    </div>
    </ion-list>

    <ion-list>
    <div ng-repeat="song in queue">
    	<div class="item item-thumbnail-left">
	       <img ng-src="{{song.image}}">
	       <!--<div ng-if="!song.artwork_url"><img src="http://icons.iconarchive.com/icons/danleech/simple/128/soundcloud-icon.png" width="100px"></div>-->
	       <h4>{{song.songName}}</h4>
	       <p>{{song.genre}}</p>
	    </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
