<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Account Tab -->
  <ion-tab title="Queue" icon-off="ion-shuffle" icon-on="ion-shuffle" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <div ng-controller="ChatsCtrl" ng-click="getAllSongs()">
  <ion-tab title="Voting" icon-off="ion-android-done-all" icon-on="ion-android-done-all" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  </div>

  <!-- Dashboard Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Channel Info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/chInfo">
    <ion-nav-view name="tab-chInfo"></ion-nav-view>
  </ion-tab>

</ion-tabs>
